body {
  background-color: #131316;
  color: #fff;
  padding: 0;
  margin: 0;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

div {
  padding: 2rem;
  max-width: 70rem;
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
}

.scroll-watcher {
  position: fixed;
  top: 0;
  width: 5px;
  height: 100%;
  z-index: 1000;
  background-color: lime;
  scale: 1 0;
  transform-origin: top;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
  padding: 0;
  max-width: 100vw;
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

img {
  width: 100%;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 250px 500px;
  scale: 0.8;
  opacity: 0;
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}
