body {
  background-color: #131316;
  color: #fff;
  padding: 0;
  margin: 0;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

div {
  padding: 2rem;
  max-width: 70rem;
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
}

img {
  width: 100%;
}

.scroll-watcher {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100vw;
  height: 10px;
  z-index: 1000;
  padding: 0;
  background-color: lime;
  scale: 0 1;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}
