body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.section-centered {
  display: grid;
  height: 100vh;
  place-items: center;
}

.button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-transform: uppercase;
}

button,
a {
  background-color: gray;
  outline: 0;
  border: 0;
}

.button-1 {
  background-color: rgb(185, 80, 97);
  padding: 1rem 3rem;
  border: 2px solid rgb(97, 23, 36);
  border-radius: 1rem;
  color: white;
  transition: padding 250ms ease-in-out, 1000ms background-color 500ms ease-out;
}

.button-1:hover,
.button-1:focus {
  background-color: red;
  padding: 1.25rem 4rem;
}

.button-2 {
  background-color: gray;
  padding: 2rem 4rem;
  border-radius: 50vw;
  color: white;
  text-decoration: none;
  transition: background-color 150ms;
}

.button-2:hover,
.button-2:focus {
  background-color: black;
  color: lightslategray;
}

.button-3 {
  background-color: transparent;
  border: 1px dashed black;
  padding: 1.25rem 3.5rem;
  color: black;
  text-decoration: none;
  transition: transform 300ms ease-in, background-color 150ms;
}

.button-3:hover,
.button-3:focus {
  transform: translateY(-1rem);
  background-color: gray;
  color: white;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  width: 80vw;

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    position: relative;
    padding: 1rem;
    min-height: 30rem;
    display: flex;
    align-items: flex-end;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: all 250ms ease-out;
    z-index: 1;

    &::before {
      content: "";
      background-color: rgba(75, 190, 200, 0.3);
      position: absolute;
      height: 100%;
      width: 100%;
      inset: 0;
      z-index: -1;
      transition: background-color 250ms ease-in-out, backdrop-filter 150ms ease-out;
      backdrop-filter: blur(0rem);
      -webkit-backdrop-filter: blur(0rem);
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      object-fit: cover;
      z-index: -2;
      transition: all 250ms ease-in-out;
    }

    h3,
    .card__heading {
      transform: translateY(3rem);
      /* display: none; */
      opacity: 0;
      transition: transform 250ms ease-out, opacity 350ms ease-out;
    }

    p,
    .card__description {
      transform: translateY(3rem);
      /* display: none; */
      opacity: 0;
      transition: all 100ms 250ms ease-out;
      line-clamp: 2;
      -webkit-line-clamp: 2;
    }

    &:hover {
      transform: translateY(-3rem) scale(105%);
      z-index: 0;

      h3,
      .card__heading {
        transform: translateY(0rem);
        opacity: 1;
        display: block;
      }

      .card__description {
        transform: translateY(0rem);
        opacity: 1;
        display: block;
        transition: all 750ms ease-out;
      }

      img {
        transform: scale(110%) rotate(1deg);
        transition: all 250ms ease-in-out;
      }

      &::before {
        background-color: rgba(173, 54, 54, 0.8);
        backdrop-filter: blur(0.3rem);
        -webkit-backdrop-filter: blur(0.3rem);
      }
    }

    &.purple:hover::before {
      background-color: rgba(211, 152, 243, 0.5);
    }

    &.red:hover::before {
      background-color: rgba(255, 87, 87, 0.5);
    }

    &.yellow:hover::before {
      background-color: rgba(255, 234, 73, 0.5);
    }
  }
}
